* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.strong{
  font-weight: 600;
}
.perfil-container {
  background-color: #F0F0F0;
  width: 100%;
  height: 100vh;
}

.perfil-container .menu-container {
  display: flex;
  width: 95%;
  height: 44px;
  margin-top: 48px;
  margin-left: 37px;
  justify-content: space-between;
}

.perfil-container .menu-container .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #E60B82;
}

.perfil-container .menu-container .edit {
  width: 214px;
  height: 44px;
  background: #F9A006;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.perfil-container .menu-container .edit:hover{
  transform: scale(1.05);
}

.perfil-container .menu-container .edit:focus {
  outline: none;
}

.perfil-container .perfil-content {
  width: 95%;
  height: 397px;
  background-color: #FFFFFF;
  display: flex;
  margin-top: 10px;
  margin-left: 37px;
  border-radius: 10px;
  align-items: center;
}

.perfil-container .perfil-content .right-container {
  width: 50%;
  height: 223px;
  text-align: right;
}

.perfil-container .perfil-content .right-container img {
  margin-right: 73px;
}

.perfil-container .perfil-content .right-container p {
  margin-right: 90px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #656565;
}

.perfil-container .perfil-content .vertical-line{
  height: 223px;
  width: 2px;
  background-color: #E5E5E5;
}

.perfil-container .perfil-content .left-container{
  margin-left: 73px;
}

.perfil-container .perfil-content .left-container .email-user,
.perfil-container .perfil-content .left-container .fone-user,
.perfil-container .perfil-content .left-container .birth-date-user{
  margin-bottom: 27px;
}

.perfil-container .perfil-content .left-container .email-user img,
.perfil-container .perfil-content .left-container .fone-user img,
.perfil-container .perfil-content .left-container .birth-date-user img{
  margin-right: 13px;
}