.home-container .perfil-content-edit {
  width: 95%;
  min-height: 60%;
  background-color: #FFFFFF;
  display: flex;
  margin-top: 10px;
  margin-left: 37px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  max-height: 90%;
}

.home-container .perfil-content-edit .aux-container {
  display: flex;
}

.home-container .perfil-content-edit .aux-container .right-container {
  display: flex;
  flex-direction: column;
  width: 21vw;
  height: 250px;
  margin-top: 120px;
  margin-right: 44px;

}


.home-container .perfil-content-edit .aux-container .right-container img {
  width: 181px;
  height: 181px;
  border-radius: 50%;
  margin-left: 10vw;
}


.home-container .perfil-content-edit .aux-container .vertical-line {
  height: 355px;
  width: 2px;
  background-color: #E5E5E5;
  margin-top: 56px;
  margin-right: 35px;
}

.home-container .perfil-content-edit .aux-container .left-container {
  margin-top: 52px;
}

.home-container .perfil-content-edit .aux-container .left-container .forms-edit-perfil .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #F9A006;
  margin-bottom: 10px;
  margin-top: 10px;
}

.home-container .perfil-content-edit .aux-container .left-container .forms-edit-perfil input {
  width: 413px;
  height: 44px;
  background: #F0F0F0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  padding-left: 13px;
  padding-right: 13px;
}

.home-container .perfil-content-edit .aux-container .left-container .forms-edit-perfil input:focus {
  outline: none;
}

.home-container .perfil-content-edit .save-editions {
  width: 249px;
  height: 44px;
  cursor: pointer;
  background: #F9A006;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
  transition: 0.4s ease-out;
  margin-top: 30px;
}

.home-container .perfil-content-edit .save-editions:hover{
  transform: scale(1.05);
}

.home-container .perfil-content-edit .save-editions:focus{
  outline: none;
}

.home-container .perfil-content-edit .password-edit{
  width: 215px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;  
  text-align: center;
  margin-bottom:30px;
  color: #E60B82;
  transition: 0.4s ease-out;
}

.home-container .perfil-content-edit .password-edit:hover{
  transform: scale(1.05);
}

.regex-fone{
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 27px;
  color: #f8af30;
  margin-bottom: 10px;
}

#picture__input{
  display: none;
}

.picture{
  margin-left: 10vw;
  border: 2px solid #E60B82;
  border-radius: 10px;
  width: 181px;
  height: 39px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.picture:hover{
  background-color: #E60B82;
  color: white;
}

.picture__image{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #E60B82;
  transition: 0.4s ease-in-out;
}

.picture__image:hover{
  color: white;
}