.home-container .perfil-content-edit-pass {
  width: 95%;
  height: 50%;
  background-color: #FFFFFF;
  display: flex;
  margin-top: 10px;
  margin-left: 37px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
}

.home-container .perfil-content-edit-pass .forms-edit-perfil-edit-pass {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  width: 413px;

}

.home-container .perfil-content-edit-pass .forms-edit-perfil-edit-pass .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #F9A006;
  margin-bottom: 10px;
}

.home-container .perfil-content-edit-pass .forms-edit-perfil-edit-pass input {
  width: 413px;
  height: 44px;
  background: #F0F0F0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  padding-left: 13px;
  margin-bottom: 30px;
}


.home-container .perfil-content-edit-pass .forms-edit-perfil-edit-pass input:focus {
  outline: none;
}

.home-container .perfil-content-edit-pass .forms-edit-perfil-edit-pass button {
  width: 418px;
  height: 44px;
  background: #F9A006;
  border-radius: 12px;
  margin-top: 2px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.home-container .perfil-content-edit-pass .forms-edit-perfil-edit-pass button:hover {
  transform: scale(1.05);
}