@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

.container {
  width: 100%;
  height: 100vh;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal {
  width: 504px;
  min-height: 516px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-height: 700px;
}

.login-modal .login-logo {
  width: 140px;
  height: 66px;
  margin-top: 69px;
  margin-bottom: 30px;
  
}

.login-modal .login-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #E60B82;
  margin-bottom: 30px;
}

.login-modal .login-inputs{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-modal .login-inputs .login-email-input {
  font-size: 18px;
  line-height: 27px;
  color: #828282;
  border: none;
  border-color: #828282;
  border-bottom: 2px solid #828282;
  margin-bottom: 30px;
}

.login-modal .login-inputs .login-email-input:focus {
  outline: none;
}

.login-modal .login-inputs .login-password-input {
  font-size: 18px;
  line-height: 27px;
  color: #828282;
  border: none;
  border-color: #828282;
  border-bottom: 2px solid #828282;
  margin-bottom: 46px;
}

.login-modal .login-inputs .login-password-input:focus {
  outline: none;
}

.login-modal .login-inputs .login-button {
  width: 397px;
  height: 44px;
  background: #F9A006;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-bottom: 21px;
}

.login-modal .login-inputs .login-button:hover {
  transform: scale(1.02);
}

.login-modal .login-inputs .login-forgot-password {
  font-size: 16px;
  line-height: 24px;
  color: #F9A006;
  cursor: pointer;
  margin-bottom: 30px;
}
/* responsive mobile */

@media screen and (max-width: 768px) {
  .login-modal{
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .login-modal{
    width: 370px;
  }
  .login-modal .login-inputs .login-email-input {
    width: 270px;
  }
  .login-modal .login-inputs .login-password-input {
    width: 270px;
  }
  .login-modal .login-inputs .login-button {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .login-modal{
    width: 300px;
  }
  .login-modal .login-inputs .login-email-input {
    width: 200px;
  }
  .login-modal .login-inputs .login-password-input {
    width: 200px;
  }
  .login-modal .login-inputs .login-button {
    width: 230px;
  }

  .login-modal .login-logo {
    width: 120px;
    height: 56px;
  }
  .login-modal.login-title{
    font-size: 25px;
  }
  .login-modal .login-inputs .login-email-input{
    font-size: 16px;
  }
  .login-modal .login-inputs .login-password-input{
    font-size: 16px;
  } 
  .login-modal .login-inputs .login-button {
    font-size: 16px;
  }
  .login-modal .login-inputs .login-forgot-password {
    font-size: 14px;
  }
}
